# **downloading dataset**

In [1]:
!kaggle datasets download -d 'kartik2112/fraud-detection'

Dataset URL: https://www.kaggle.com/datasets/kartik2112/fraud-detection
License(s): CC0-1.0
Downloading fraud-detection.zip to /content
 98% 198M/202M [00:02<00:00, 118MB/s]
100% 202M/202M [00:02<00:00, 103MB/s]

# **Extracting dataset**

In [2]:
!unzip '/content/fraud-detection.zip'

Archive:  /content/fraud-detection.zip
  inflating: fraudTest.csv
  inflating: fraudTrain.csv

# **Reading the file**

In [3]:
import pandas as pd
train_df = pd.read_csv('/content/fraudTrain.csv')

In [4]:
train_df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud

In [5]:
print(train_df.head())

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      lat      long  \
0    Banks      F                561 Perry Cove  ...  36.0788  -81.1781
1     Gill      F  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez      M      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White      M   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia      M              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop                                job         dob  \
0      3495          Psychologist, counselling  1988-03-09
1       149  Special educational needs teacher  1978-06-21
2      4154        Nature conservation officer  1962-01-19
3      1939                    Patent attorney  1967-01-12
4        99     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

In [6]:
train_df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

# **Preprocessing**

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [8]:
train_df['trans_date_trans_time'] = pd.to_datetime(train_df['trans_date_trans_time'])

In [9]:
train_df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [10]:
test_df = pd.read_csv('/content/fraudTest.csv')

In [11]:
test_df['trans_date_trans_time'] = pd.to_datetime(test_df['trans_date_trans_time'])

In [12]:
# Extract time-based features
train_df['hour'] = train_df['trans_date_trans_time'].dt.hour
train_df['day_of_week'] = train_df['trans_date_trans_time'].dt.dayofweek


test_df['hour'] = test_df['trans_date_trans_time'].dt.hour
test_df['day_of_week'] = test_df['trans_date_trans_time'].dt.dayofweek

In [13]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.9.0-py2.py3-none-any.whl.metadata (5.8 kB)
Downloading haversine-2.9.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.9.0

In [14]:
from haversine import haversine

In [15]:
def calculate_distance(row):
    user_location = (row['lat'], row['long'])
    merch_location = (row['merch_lat'], row['merch_long'])
    return haversine(user_location, merch_location)

train_df['distance'] = train_df.apply(calculate_distance, axis=1)

In [16]:
test_df['distance'] = test_df.apply(calculate_distance, axis=1)

In [17]:
train_df['dob'] = pd.to_datetime(train_df['dob'])
train_df['age'] = (pd.to_datetime('today') - train_df['dob']).dt.days // 365

In [18]:
test_df['dob'] = pd.to_datetime(test_df['dob'])
test_df['age'] = (pd.to_datetime('today') - test_df['dob']).dt.days // 365

In [19]:
train_df.drop(['Unnamed: 0', 'trans_num', 'trans_date_trans_time', 'cc_num', 'first',
         'last', 'street', 'city', 'state', 'zip', 'dob'], axis=1, inplace=True)

In [20]:
test_df.drop(['Unnamed: 0', 'trans_num', 'trans_date_trans_time', 'cc_num', 'first',
         'last', 'street', 'city', 'state', 'zip', 'dob'], axis=1, inplace=True)

In [21]:
train_df

,merchant,category,amt,gender,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud,hour,day_of_week,distance,age
0,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,36.011293,-82.048315,0,0,1,78.597677,36
1,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0,0,1,30.212217,46
2,fraud_Lind-Buckridge,entertainment,220.11,M,42.1808,-112.2620,4154,Nature conservation officer,1325376051,43.150704,-112.154481,0,0,1,108.206232,63
3,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,46.2306,-112.1138,1939,Patent attorney,1325376076,47.034331,-112.561071,0,0,1,95.673363,58
4,fraud_Keeling-Crist,misc_pos,41.96,M,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,38.674999,-78.632459,0,0,1,77.556851,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,fraud_Reichel Inc,entertainment,15.56,M,37.7175,-112.4777,258,Geoscientist,1371816728,36.841266,-111.690765,0,12,6,119.752302,63
1296671,fraud_Abernathy and Sons,food_dining,51.70,M,39.2667,-77.5101,100,"Production assistant, television",1371816739,38.906881,-78.246528,0,12,6,75.104189,45
1296672,fraud_Stiedemann Ltd,food_dining,105.93,M,32.9396,-105.8189,899,Naval architect,1371816752,33.619513,-105.130529,0,12,6,99.047870,57
1296673,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,M,43.3526,-102.5411,1126,Volunteer coordinator,1371816816,42.788940,-103.241160,0,12,6,84.627769,44
1296674,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,M,45.8433,-113.8748,218,"Therapist, horticultural",1371816817,46.565983,-114.186110,0,12,6,83.853771,29

In [22]:
train_df = pd.get_dummies(train_df, columns=['category'], drop_first=True)

In [23]:
train_df

,merchant,amt,gender,lat,long,city_pop,job,unix_time,merch_lat,merch_long,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,"fraud_Rippin, Kub and Mann",4.97,F,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,36.011293,-82.048315,...,False,False,False,False,True,False,False,False,False,False
1,"fraud_Heller, Gutmann and Zieme",107.23,F,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,...,True,False,False,False,False,False,False,False,False,False
2,fraud_Lind-Buckridge,220.11,M,42.1808,-112.2620,4154,Nature conservation officer,1325376051,43.150704,-112.154481,...,False,False,False,False,False,False,False,False,False,False
3,"fraud_Kutch, Hermiston and Farrell",45.00,M,46.2306,-112.1138,1939,Patent attorney,1325376076,47.034331,-112.561071,...,False,False,False,False,False,False,False,False,False,False
4,fraud_Keeling-Crist,41.96,M,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,38.674999,-78.632459,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,fraud_Reichel Inc,15.56,M,37.7175,-112.4777,258,Geoscientist,1371816728,36.841266,-111.690765,...,False,False,False,False,False,False,False,False,False,False
1296671,fraud_Abernathy and Sons,51.70,M,39.2667,-77.5101,100,"Production assistant, television",1371816739,38.906881,-78.246528,...,False,False,False,False,False,False,False,False,False,False
1296672,fraud_Stiedemann Ltd,105.93,M,32.9396,-105.8189,899,Naval architect,1371816752,33.619513,-105.130529,...,False,False,False,False,False,False,False,False,False,False
1296673,"fraud_Reinger, Weissnat and Strosin",74.90,M,43.3526,-102.5411,1126,Volunteer coordinator,1371816816,42.788940,-103.241160,...,False,False,False,False,False,False,False,False,False,False
1296674,"fraud_Langosh, Wintheiser and Hyatt",4.30,M,45.8433,-113.8748,218,"Therapist, horticultural",1371816817,46.565983,-114.186110,...,False,False,False,False,False,False,False,False,False,False

In [24]:
test_df = pd.get_dummies(test_df, columns=['category'], drop_first=True)

In [25]:
X_train = train_df.drop(columns=['is_fraud','merchant','job'], axis=1)
y_train = train_df['is_fraud']

In [26]:
X_train

,amt,gender,lat,long,city_pop,unix_time,merch_lat,merch_long,hour,day_of_week,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,4.97,F,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0,1,...,False,False,False,False,True,False,False,False,False,False
1,107.23,F,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0,1,...,True,False,False,False,False,False,False,False,False,False
2,220.11,M,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0,1,...,False,False,False,False,False,False,False,False,False,False
3,45.00,M,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0,1,...,False,False,False,False,False,False,False,False,False,False
4,41.96,M,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0,1,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,15.56,M,37.7175,-112.4777,258,1371816728,36.841266,-111.690765,12,6,...,False,False,False,False,False,False,False,False,False,False
1296671,51.70,M,39.2667,-77.5101,100,1371816739,38.906881,-78.246528,12,6,...,False,False,False,False,False,False,False,False,False,False
1296672,105.93,M,32.9396,-105.8189,899,1371816752,33.619513,-105.130529,12,6,...,False,False,False,False,False,False,False,False,False,False
1296673,74.90,M,43.3526,-102.5411,1126,1371816816,42.788940,-103.241160,12,6,...,False,False,False,False,False,False,False,False,False,False
1296674,4.30,M,45.8433,-113.8748,218,1371816817,46.565983,-114.186110,12,6,...,False,False,False,False,False,False,False,False,False,False

In [27]:
y_train

0          0
1          0
2          0
3          0
4          0
          ..
1296670    0
1296671    0
1296672    0
1296673    0
1296674    0
Name: is_fraud, Length: 1296675, dtype: int64

In [28]:
X_test = test_df.drop(columns=['is_fraud','merchant','job'], axis=1)
y_test = test_df['is_fraud']

# **Model**

In [29]:
# Scale numerical features
scaler = StandardScaler()

# Identify numerical columns
numerical_columns = ['amt', 'lat', 'long', 'merch_lat', 'merch_long', 'city_pop', 'distance', 'hour', 'day_of_week', 'age']

# Fit the scaler
X_train[numerical_columns] = scaler.fit_transform(X_train[numerical_columns])
X_test[numerical_columns] = scaler.transform(X_test[numerical_columns])

In [30]:
X_train.columns

Index(['amt', 'gender', 'lat', 'long', 'city_pop', 'unix_time', 'merch_lat',
       'merch_long', 'hour', 'day_of_week', 'distance', 'age',
       'category_food_dining', 'category_gas_transport',
       'category_grocery_net', 'category_grocery_pos',
       'category_health_fitness', 'category_home', 'category_kids_pets',
       'category_misc_net', 'category_misc_pos', 'category_personal_care',
       'category_shopping_net', 'category_shopping_pos', 'category_travel'],
      dtype='object')

In [31]:
X_train = pd.get_dummies(X_train, columns=['gender'], drop_first=True)
X_test = pd.get_dummies(X_test, columns=['gender'], drop_first=True)

In [32]:
# Initialize the model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight="balanced")

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions
y_pred = rf_model.predict(X_test)

In [33]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [34]:
# Print evaluation metrics
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9986198060530592

Confusion Matrix:
 [[553548     26]
 [   741   1404]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00    553574
           1       0.98      0.65      0.79      2145

    accuracy                           1.00    555719
   macro avg       0.99      0.83      0.89    555719
weighted avg       1.00      1.00      1.00    555719

In [35]:
y_test.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [36]:
y_pred[0:5]

array([0, 0, 0, 0, 0])

In [37]:
y_pred.shape

(555719,)

In [40]:
y_test[y_test == 1]

1685      1
1767      1
1781      1
1784      1
1857      1
         ..
517197    1
517274    1
517341    1
517529    1
517571    1
Name: is_fraud, Length: 2145, dtype: int64

In [39]:
import numpy as np

np.where(y_pred == 1)[0]

array([  1767,   1781,   1857, ..., 517341, 517529, 517571])